/**
 * [https://www.templatemonsterpreview.com/demo/87345.html]
 */
/* *Variables */
:root {
    --main-color: #7b5244;
    --opac-main-color: #e0c0b6b5;
    --main-black-color: #333;
    --main-white-color: #ccc;
}

/* *Global Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
.container {
    padding: 0 10px;
    margin: 0 auto;
}
/* small */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media(min-width: 992px){
    .container {
        width: 970px;
    }
}
/* large */
@media(min-width: 1200px){
    .container {
        width: 1170px;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.relative { position: relative;}
.absolute { position: absolute;}
i.active { transform: scale(1.3); }

/* Component */
.section-header {
    text-align: center;
    padding: 40px 20px;
}
.section-header .section-title {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.section-header .line {
    display: block;
    width: 130px;
    height: 1px;
    margin: 0 auto;
    background-color: #333;
    transition: width 0.5s;
}
.section-header:hover .line {
    width: 170px;
}

/** bullets */
.bullets {
    display: flex;
    justify-content: center;
    gap: 3px;
    opacity: 0;
    transition: opacity 0.3s;
}
.bullets span {
    width: 10px;
    height: 10px;
    background-color: var(--main-black-color);
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
.bullets span.active {
    background-color: #EEE;
}

/** 0 - Header */
header {
    background-color: #eeeeeea6;
    border: 1px solid var(--main-color);
}
/* 0.1 - container */
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* background-color: transparent; */
}
@media(max-width: 430px) {
    header .container {
        flex-wrap: wrap;
        gap: 10px;
    }
    header .container .util-user{
        margin-left: auto;
    }
}

/* 0.1.1 - img */
header .container img {
}
header .container .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* 0.1.2 - nav */
header .container nav {
    z-index: 100;
    /* position: relative;  */
}
header .container nav i {
    display: none;
    padding: 0 5px;
    transition: transform 0.3s;
}
header .container nav > ul {
    display: flex;
    /* background-color: #EEE; */
}
@media(max-width: 1020px) {
    header .container nav i { display: block; }
    header .container nav i.active + ul { transform: scale(1);}

    header .container nav > ul {
        transform: scale(0);
        transition: transform 0.3s;
        border: 2px solid var(--main-color);
        background-color: antiquewhite;
        width: 100%;
        flex-direction: column;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        transition: all 0.3s;
    }
}
header .container nav ul li {
    /* border: 1px solid #7b5244; */
    /* line-height: 40px; */
    position: relative;
}
header .container nav > ul > li > a {
    text-transform: capitalize;
    color: var(--main-black-color);
    display: block;
    margin: 20px 0;
    padding: 20px 10px;
    position: relative;
    /* border: 1px solid red; */
}
/* Effect of list items on navbar */
header .container nav > ul > li > a::before {
    content: '';
    position: absolute;
    inset: 0;
    border-width: 0 2px;
    border-style: solid;
    border-color: #7b5244;
    transform: scaleY(0);
    transition: transform 0.3s;
}
header .container nav > ul > li > a:hover::before {
    transform: scaleY(1);
}
header .container nav > ul > li > a::after {
    content: '';
    position: absolute;
    inset: 0;
    border-width: 2px 0;
    border-style: solid;
    border-color: #7b5244;
    transform: scaleX(0);
    transition: transform 0.3s;
    transition-delay: 0.2s;
    transform-origin: left;
}
header .container nav > ul > li > a:hover::after {
    transform: scaleX(1);
}
@media (max-width: 1020px) {
    header .container nav > ul > li > a::before,
    header .container nav > ul > li > a::after{
        content: none;
    }
}
@media(max-width: 1020px) {
    header .container nav ul li a {
        margin: 0;
        padding-left: 20px;
    }
}

/* 0.1.2.* Dropdown */
header .container nav .dropdown-fnav {
    /* max-width: 600px; */
    /* min-width: fit-content; */
    max-width: 100%;
    display:flex;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1000;
    padding: 20px;
    background: #fff;
    border: 2px solid var(--main-color);
    transform: scale(0);
    transition: transform 0.3s;
    transform-origin: left top;
}
@media(max-width: 1020px) {
    header .container nav div.dropdown-fnav {
    }
    header .container nav div.dropdown-fnav ul {
    }
}
header .container nav .dropdown-fnav ul {
    padding-right: 20px;
    width: 150px;
    margin-right: 20px;
    /* display: table-cell;  */
}
header .container nav ul li:hover .dropdown-fnav{
    transform: scale(1);
}
header .container nav .dropdown-fnav ul li { position: relative; }
header .container nav .dropdown-fnav ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    height: 0%;
    width: 2px;
    transform: scale(0.5);
    background-color: var(--main-color);
    transition: height 0.3s;
}
header .container nav .dropdown-fnav ul li:hover::before { height: 100% }
header .container nav .dropdown-fnav ul li:first-child {
    border-bottom: 2px solid #eee;
}
header .container nav .dropdown-fnav ul li:first-child a{
    color: var(--main-color);
    font-weight: 700;
    text-transform: capitalize;
}
header .container nav .dropdown-fnav ul li a{
    display: block;
    padding: 15px 0;
    color: var(--main-black-color);
}
header .container nav .dropdown-fnav ul li:hover a{ color: #111; }

/* 0.1.3 - util-user */
header .container .util-user {}
header .container .util-user {color: var(--main-black-color); display: flex; justify-content: baseline;}
header .container .util-user i{font-size: 23px; margin-right: 25px;}
header .container .util-user i:last-child{position: relative; margin-right: 10px;}
header .container .util-user i:last-child::after{
    content: attr(data-items);
    font-size: 10px;
    text-align: center;
    color: white;
    position: absolute;
    right: -5px;
    top: calc(50% - 10px);
    width: 10px;
    padding: 2px;
    height: 10px;
    background-color: var(--main-color);
    border-radius: 50%;
}

/** Slider section */
section.slider {
}
section.slider .container {
    position: relative;
}
section.slider .container img {
    width: 100%;
}
section.slider .container i{
    position: absolute;
    top: 50%;
    color: var(--main-color);
}
section.slider .container i:first-of-type{
    left: 10px;
}
section.slider .container i:last-of-type {
    right: 10px;
}
/** Bullets */
.slider .container img:hover ~ .bullets {
    opacity: 1;
}

/** category */
.category {
    /* min-height: 70vh; */
    /* padding: 20px 0; */
}
.category .container {
    position: relative;
}
.content{ /* i found t here are many section needs same style*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.category .container .content .prod {
    transition: all 0.5s;
    transition-delay: 0.1s;
}
.category .container .content .prod:hover {
    box-shadow: 1px 1px 17px 3px var(--main-white-color);
}
.category .container .content .prod img {
    width: 100%;
}
.category .container .content .prod .text {
    position: relative;
    padding: 10px;
}
.category .container .content .prod .text h4.state {
    font-size: 13px;
    margin: 10px 0;
    color: #ccc;
    text-transform: uppercase;
}
.category .container .content .prod .text h4.name {
    text-transform: capitalize;
    font-weight: 500;
}
.category .container .content .prod .text i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.category .container .content .prod:hover i { opacity: 1; }
.category .container .bullets { 
    width: 100%;
    opacity: 1;
    margin-top: 20px;
}
.category .container .bullets span:hover { transform: scale(1.2); }

/** review */
.review {
    padding: 100px 0 30px;
}
@media(max-width: 993px) {
    .review .container.content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media(max-width: 580px) {
    .review .container.content {
        grid-template-columns: 1fr;
    }
    .review .container.content .itm:nth-child(1) {
        grid-column: auto;
    }
    .review .container.content .itm:not(:nth-child(1)) {
        width: 90%;
        margin: 0 auto;
        flex: 1 ;
    }
    .sprites .container{
        flex-wrap: wrap;
    }
}
.review .container {

}
/** quote(Review) */
.review .container .itm:first-child {
    grid-column: 1 / span 2;
    padding: 20px;
    background-color: var(--opac-main-color);
}
.review .container .itm:first-child .info {
    padding: 20px;
    position: relative;
}
.review .container .itm:first-child .info i {
    font-size: 70px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--main-color);
}
.review .container .itm:first-child .info h3 {
    /* display: inline-block; */
    text-transform: capitalize;
    font-weight: 500;
    vertical-align: super;
    margin-left: 50px;
}
.review .container .itm:first-child .info .job {
    font-size: 15px;
    color:#875a4bcd;
    font-weight: normal;
    margin-left: 50px;
}
.review .container .itm:first-child p { color: #875a4bcd; margin-bottom: 20px; }
.review .container .itm:first-child .bullets {
    margin: 0 auto;
    padding: 10px 0;
    gap: 10px;
    opacity: 1;
}
.review .container .itm:first-child .bullets span {
    width: 60px;
    height: 1px;
    border-radius: 0;
}
.review .container .itm:first-child .bullets span.active { background-color: #7b5244; }

.review .container .itm {
    position: relative;
    line-height: 1.7;
}
.review .container .itm:not(:first-child) {
    display: flex;
}
.review .container .itm img {
    width: 100%;
}
.review .container .itm img + .info{
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.review .container .itm img + .info .discount {
    font-weight: normal;
    color: var(--main-color);
}
.review .container .itm img + .info .name {
    font-weight: 700;
}

/* Sprites */
.review + .sprites {
    background-color: #111;
}
.review + .sprites .container {
    display: flex;
    flex-wrap: wrap;
}
.review + .sprites .sprite-item {
    min-width: 200px;
    text-align: center;
    padding: 10px;
    background-color: #fbfbfb;
    position: relative;
    flex: 1;
}
.review + .sprites .sprite-item:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%) scale(0.5);
    width: 1px;
    height: 100%;   
    
    background-color: var(--main-color);
}
.review + .sprites div.sprite-item > .sprite-icon {
    height: 55px;
    background-image: url(../images/service-icon.png);
    background-repeat: no-repeat;   
}
.review + .sprites .sprite-item:nth-child(1) .sprite-icon {
    background-position: center 0px ;
    transition: all 0.5s;
}
.review + .sprites .sprite-item:nth-child(1):hover .sprite-icon {
    background-position: center -90px ;
}
.review + .sprites .sprite-item:nth-child(2) .sprite-icon {
    background-position: center -185px ;
    transition: all 0.5s;
}
.review + .sprites .sprite-item:nth-child(2):hover .sprite-icon {
    background-position: center -275px ;
}
.review + .sprites .sprite-item:nth-child(3) .sprite-icon {
    background-position:  center -368px ;
    transition: all 0.5s;
}
.review + .sprites .sprite-item:nth-child(3):hover .sprite-icon {
    background-position: center -460px ;
}
.review + .sprites .sprite-item:nth-child(4) .sprite-icon {
    background-position: center -550px ;
    transition: all 0.5s;
}
.review + .sprites .sprite-item:nth-child(4):hover .sprite-icon {
    background-position: center -640px ;
}
.review + .sprites .sprite-item:nth-child(5) .sprite-icon {
    background-position: center -740px ;
    transition: all 0.5s;
}
.review + .sprites .sprite-item:nth-child(5):hover .sprite-icon {
    background-position: center -830px ;
}
.review + .sprites .sprite-item .sprite-text{
}
.review + .sprites .sprite-item .sprite-text h3{
}
.review + .sprites .sprite-item .sprite-text span{
}

/**Featured Product */
.feature {
}
.feature .container {
}
.feature .container .shuffle {
}
.feature .container .shuffle ul{
    display: flex;
    gap: 1px;
    width: fit-content;
    margin: 0 auto;
}
.feature .container .shuffle ul li{
    text-transform: capitalize;
    padding: 10px;
    transition: 0.5s;
    position: relative;
    /* background: gray; */
}
.feature .container .shuffle ul li:hover {
    letter-spacing: 1px;
}
.feature .container .shuffle ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(170, 170, 170, 0.251);
    transition: 0.5s;
}
.feature .container .shuffle ul li:hover::before {
    height: 100%;
}
/**Products Style */
.feature .container.content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
}

.feature .container .prod {
    position: relative;
}
.feature .container .prod h5.state {
    padding: 10px;
    background-color: #333;
    width: fit-content;
    position: absolute;
    top: 20px;
    left: 20px;
    visibility: hidden;
    opacity: 0;
    color: white;
    transition: 0.5s;
    transition-delay: 0.1s;
}
.feature .container .prod:hover h5.state {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}
.feature .prod a.image-product {
    display: block;
    position: relative;
}
.feature .prod img {
    width: 100%;
    transition: 0.5s;
    width: 100%;
    height: 100%;
}

/**Affect on Product */
.feature .prod:hover .text .discount {
    display: none;
    visibility: hidden;
}
.feature .prod:hover img:nth-child(1) {
    filter: blur(7px);
    opacity: 0.4;
}
.feature .prod img:nth-child(2),
.feature .prod a.image-product + .buttons {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transition: 0.5s;
}
.feature .prod a.image-product + div.buttons {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) !important; /**! I Have here Issue */
}
.feature .prod a.image-product + .buttons button {
    background-color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.feature .prod a.image-product + .buttons button:hover {
    filter: invert(1);
}
.feature .prod a.image-product + .buttons button i {
    font-size: 14px;
    color: white;
    position: relative;
}
.feature .prod:hover :is(img:nth-child(2),  a.image-product + .buttons ) {
    transform: scaleX(1);
    opacity: 1;
    visibility: visible;
    /* transform-origin: center center; */
}

.feature .prod .text {
    text-transform: capitalize;
    line-height: 1.7;
}

.feature .prod .text h4.name {
    color: #777;
}

.feature .prod .text .discount {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--main-color);
    padding: 3px 7px;
    color: #fff;
    font-weight: normal;
}

.feature .prod .text .discount::after {
    content: '% off';
}

.feature .prod .text .rate {
}

.feature .prod .text .rate i.active {color: orange;}


/**Video */
.video {
    padding: 20px 0;
    margin: 20px 0;
}
.video .container {
}
.video .container .item {
    display: flex;
    gap: 40px;
    position: relative;
}
@media(max-width: 1000px) {
    .video .container .item {
        flex-direction: column;
    }
    .video .container .item img {
        width: 60% !important;
        align-self: center;
    }
}
@media(max-width: 800px) {
    .video .container .item img {
        width: 100% !important;
    }
}
.video .container .item img {
    width: 100%;
    height: 300px;
}
.video .container .item img + img[src *="play" ] { /**Bad Practise */
    position: absolute;
    width: 50px !important;
    height: 50px;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video .container .item .text {
    padding: 40px;
    background-color:#c4a69c72;
}
.video .container .item .text .head{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.video .container .item h4 {
    font-size: 40px;
    color: var(--main-color);
    display: inline;
}
.video .container .item h4 span {
    display: block;
    font-size: 1rem;
}
.video .container .item h3 {
    font-size: 20px;
    font-weight: 400;
}
.video .container .item p {
    line-height: 1.5;
    color: #777;
}

/**
 * Sponsers
 */

.sponsers {
}
.sponsers .container {
}
.sponsers .container .items { /**Need slider not like this */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sponsers .container .items img {
    filter: blur(100%);
    transition: 0.5s;
}
.sponsers .container .items img:hover {
    filter: blur(0%);
}

/**Footer */
.footer {
    background-color: #111;
    color: #fff;
    padding: 100px 0 0;
}
.footer .container {
    /* background-color: #fff; */
}
.footer .container .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .container .content * {
    text-transform: capitalize
}
.footer .container .content > div ul {
    line-height: 2.2;
    font-size: 14px;
    color: #888;
    padding: 0 15px 0 0;
}
.footer .container .content h5 {
    font-size: 18px;
    margin-bottom: 20px;
}
.footer .container .content .about {
    padding: 0 40px 0 0;
    /* background-color: #7b5244; */
    line-height: 1.7;
    color: #888;
    font-size: 13px;
    flex: 2;
}
.footer .container .content .about p {
    margin-bottom: 10px;
}
@media (max-width: 750px ) {
    .footer .container .content .about {
        width: 100%;
        flex: none;
    }   
}
.footer .container .content .about img:first-child {
    margin-bottom: 20px;
}
.footer .container .content .info {
    /* background-color: #333; */
    flex: 1;
}
.footer .container .content .my-account {
    /* background-color: #777; */
    flex: 1;
}
.footer .container .content .subscribe {
    /* background-color: #7b52ff; */
    min-width: 300px;
}
.footer .container .content .subscribe h5 {
    margin-bottom: 40px;
}
.footer .container .content .subscribe input {
    border: none;
    outline: none;
    padding: 7px;
    background-color: #333;
    width: 100%;
}
.footer .container .content .subscribe .form {
    position: relative;
}
.footer .container .content .subscribe .form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
}
.footer .container .content .subscribe .form i:hover {
    filter: invert(0.5);
}
.footer .container .content .subscribe .social {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.footer .container .content .foot {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid #555;
    margin-top: 120px;
    width: 100%;
    color: #888;
}
.footer .container .content .foot p {
    font-size: 13px;
}





/** 1- Refactor
 *  2- Modify some rules(nav, sprites, .)
 *
 */


/**
    * top-down approach
    * Fehres

    1- Header
        1.1 - container
            1.1.1 - logo
            1.1.2 - nav
                1.1.2.1 -> has dropdown
                1.1.2.4 -> has dropdown
                1.1.2.5 -> has dropdown
            1.1.3 - util-user
    2- Slider
    3- Category
        3.1- Category (special category)
            3.1.* - 4 products in front. [primitive explainition]
        3.2- Category (reviews's products)
            3.2.* - 2 products and 1 review in front. [slider auto]
        3.3- Category (properties)
            3.3.* 5 properties
    4- Featured Products
        4.1- section-header
        4.2- shuffle (filter products)
        4.3- Products

    5- Video section
        5.1- Video with describtion
        5.2- slides auto for sponsers

    6- footer
*/